version: '3'

services:

  schulcloud-content:
    image: schulcloud-content:latest
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
      BACKEND_URL: https://schul-cloud.org:8080/
    networks:
      - default
      - schulcloudserver_schulcloud-server-network
    ports:
      - 4040:4040
      - 5858:5858
    links:
      - schulcloud-content-mongodb:mongodb
      - schulcloud-content-elasticsearch:elasticsearch
    volumes:
      - .:/app
    command: npm run debug

  schulcloud-content-mongodb:
    image: mongo:3.4.3
    volumes:
      - data-schulcloud-content:/data/db
      - .:/app
    ports:
      - 27018:27017
    command: [ "--replSet", "rs" ]

  schulcloud-content-mongodb-connector:
    image: python:3.6.1
    links:
      - schulcloud-content-mongodb:mongodb
      - schulcloud-content-elasticsearch:elasticsearch
    environment: 
      - MONGO_URI=mongodb
      - MONGO_PORT=27017
      - ELASTIC_URI=elasticsearch
      - ELASTIC_PORT=9200
      - ELASTIC_USER=elastic
      - ELASTIC_PW=changeme
    volumes:
      - .:/usr/src/connector
    command: [ "bash", "/usr/src/connector/start-schulcloud-content-mongodb-connector.sh" ]

  schulcloud-content-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.1
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data-schulcloud-elasticsearch:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

networks:
  schulcloudserver_schulcloud-server-network:
    external: true

volumes:
  data-schulcloud-content:
  data-schulcloud-elasticsearch:
